:root {
  /* Primary Colors */
  --color-primary: #f0f0f0; /* Soft White */
  --color-secondary: #8bc34a; /* Fresh Green */
  --color-accent: #ffd54f; /* Sunny Yellow */

  /* Text Colors */
  --color-text: #333333; /* Dark Gray */
  --color-text-secondary: #757575; /* Lighter Gray for secondary text */

  /* Utility Colors */
  --color-background: #ffffff; /* White background */
  --color-border: #e0e0e0; /* Light gray border */
}
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Open+Sans&display=swap');
body {
  background-color: var(--color-background);
}
.header-container {
  background-color: var(--color-primary);
  color: var(--color-text);
  height: 50px;
  display: flex;
  justify-content: space-between;
}
.header-logo {
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 1.5rem;
}
.header-links {
  display: flex;
  justify-content: space-evenly;
  width: 500px;
}
.header-link {
  color: var(--color-text);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 10px;
}
.header-link:hover {
  color: var(--color-secondary);
  cursor: pointer;
  transform: scale(1.05);
}
.compass-container {
  margin-left: 15px;
  font-family: 'Open Sans';
}
.compass-button {
  margin-right: 8px;
  background-color: var(--color-primary);
  padding: 6px;
  

}
.compass-button:hover {
  cursor: pointer;
  transform: scale(1.05);
  background-color: var(--color-accent);
}
.scroll-top-button {
  border: 1px solid black;
  width: 130px;
  text-align: center;
  padding: 2px;
  border-radius: 10%;
}
.scroll-top-button:hover {
  cursor: pointer;
  transform: scale(1.05);
  background-color: var(--color-accent);
}